html {
    height: 100%;
}
body {
    height: 100%;
}
header {
    margin-bottom: 40px;
    padding: 0px 0px 20px 0px;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -30px;
}
.footer, .empty {
    height: 30px;
}

thead.sticky_head {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	background: #fff;
}
.toTop {
	width: 32px;
	height: 32px;
	background: url('/img/totop_arrow.png') no-repeat;
	bottom: 20px;
	right: 0px;
    cursor: pointer;
    position: fixed;
    z-index: 9999;
    display: none;
}
.njhide {
	display: none!important;
}
h1 {
	margin-bottom: 20px;
	font-size: 180%;
	color: #0092CE;
}
a {
	color: #0092CE;
}
a:hover {
	color: #ccc;
}
/*Header
----------------------------------------*/
header .menu_panel nav {
	margin-top: 20px;
	text-transform: uppercase;
}
header .auth_panel {
	margin-top: 20px;
}

/*Products
---------------------------------------*/
.prod_catalog .prod_item {
	margin-bottom: 15px;
	padding: 0px 10px;
}
.prod_item .prod_img {
	min-height: 200px;
}
.prod_item .prod_props {
	padding: 20px 0px;
}
.prod_item .prod_read_more {
	padding: 20px 0px;
}
.prod_item .prod_read_more a {
	display: block;
	margin: 0px auto;
	padding: 2px 12px 4px 12px;
	background: #0092CE;
	color: #fff;
	font-size: 13px;
	font-weight: bold;
	border-radius: 7px;
	border: 1px solid #e9ecef;
	text-decoration: none;
}
.prod_item .prod_read_more a:hover {
	background: #ccc;
	color: #fff;
}
.prod_item .prod_name {
	padding: 20px 0px;
}
.prod_item .prod_price {
	padding: 20px 0px;
}
.prod_item .prod_img a {
	height: 200px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none; 
}
.detail_small_imgs .col a {
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	text-decoration: none; 
}

table.addit_products td {
	vertical-align: middle;
}

.sort_links {
	margin: 10px 0px 30px 0px;
}
.sort_links span.sorting_text {
	padding: 0px 20px 0px 0px;
}
span.divider {
	padding: 0px 10px;
	color: #ccc;
}

/*Basket
---------------------------------------*/
.basket_quantity .basket_minus, .basket_quantity .basket_plus {
	cursor: pointer;
	font-size: 25px;
	font-weight: bold;
	line-height: 0px;
}
.add2basket {
	max-width: 250px;
	margin: 0px auto;
}
.add2basket .col {
	white-space: nowrap;
}
button.base_button {
	font-size: 13px;
	border-radius: 7px;
	border: 1px solid #e9ecef;
	padding: 5px 12px 5px 12px;
	background: #0092CE;
	color: #fff;
	font-weight: bold;
}
button.base_button:hover {
	color: #fff;
	background: #ccc;
}

/*Forms
-------------------------------------------*/
input.border-danger, textarea.border-danger {
	background: #fdefef;
}
.page-link {
	color: #0092CE!important;
}
.page-item.active .page-link {
	background-color: #0092CE!important;
	border-color: #0092CE!important;
	color: #fff!important;
}
.navbar-light .navbar-nav a {
	color: #000!important;
	font-weight: bold;
}
.navbar-light .navbar-nav a.active, .navbar-light .navbar-nav a:hover {
	color: #0092CE!important;
}
#filter_form input[type=checkbox] {
	margin-right: 4px;
	margin-left: 8px;
}

@media screen and (max-width: 540px) {
		header .logo_panel {
			text-align: center;
	}
}